body { margin:0;padding:0; }

@-moz-keyframes shake1 {
    from {-moz-transform:scale(1, 1);}
    8%   {-moz-transform:scale(0.95, 0.95);}
    16%   {-moz-transform:scale(1, 1);}
    24%   {-moz-transform:scale(0.95, 0.95);}
    32%   {-moz-transform:scale(1, 1);}
    to   {-moz-transform:scale(1, 1);}
}
@-webkit-keyframes shake1 {
    from {-webkit-transform:scale(1, 1);}
    8%   {-webkit-transform:scale(0.95, 0.95);}
    16%   {-webkit-transform:scale(1, 1);}
    24%   {-webkit-transform:scale(0.95, 0.95);}
    32%   {-webkit-transform:scale(1, 1);}
    to   {-webkit-transform:scale(1, 1);}
}
@-o-keyframes shake1 {
    from {-o-transform:scale(1, 1);}
    8%   {-o-transform:scale(0.95, 0.95);}
    16%   {-o-transform:scale(1, 1);}
    24%   {-o-transform:scale(0.95, 0.95);}
    32%   {-o-transform:scale(1, 1);}
    to   {-o-transform:scale(1, 1);}
}
@keyframes shake1 {
    from {transform:scale(1, 1);}
    8%   {transform:scale(0.95, 0.95);}
    16%   {transform:scale(1, 1);}
    24%   {transform:scale(0.95, 0.95);}
    32%   {transform:scale(1, 1);}
    to   {transform:scale(1, 1);}
}

@-moz-keyframes shake2 {
    from {-moz-transform:rotateZ(0deg);}
    5%   {-moz-transform:rotateZ(-3deg);}
    15%   {-moz-transform:rotateZ(3deg);}
    20%   {-moz-transform:rotateZ(0deg);}
    to   {-moz-transform:rotateZ(0deg);}
}
@-webkit-keyframes shake2 {
    from {-webkit-transform:rotateZ(0deg);}
    5%   {-webkit-transform:rotateZ(-3deg);}
    15%   {-webkit-transform:rotateZ(3deg);}
    20%   {-webkit-transform:rotateZ(0deg);}
    to   {-webkit-transform:rotateZ(0deg);}
}
@-o-keyframes shake2 {
    from {-o-transform:rotateZ(0deg);}
    5%   {-o-transform:rotateZ(-3deg);}
    15%   {-o-transform:rotateZ(3deg);}
    20%   {-o-transform:rotateZ(0deg);}
    to   {-o-transform:rotateZ(0deg);}
}
@keyframes shake2 {
    from {transform:rotateZ(0deg);}
    5%   {transform:rotateZ(-3deg);}
    15%   {transform:rotateZ(3deg);}
    20%   {transform:rotateZ(0deg);}
    to   {transform:rotateZ(0deg);}
}

.ani_shake1 {
    -moz-animation:shake1 1s linear 0s infinite alternate forwards;
    -webkit-animation:shake1 1s linear 0s infinite alternate forwards;
    -o-animation:shake1 1s linear 0s infinite alternate forwards;
    animation:shake1 1s linear 0s infinite alternate forwards;
}

.ani_shake2 {
    -moz-animation:shake2 1s linear 0s infinite alternate forwards;
    -webkit-animation:shake2 1s linear 0s infinite alternate forwards;
    -o-animation:shake2 1s linear 0s infinite alternate forwards;
    animation:shake2 1s linear 0s infinite alternate forwards;
}

@-moz-keyframes ani_rotate {
    from {-moz-transform:rotateZ(0deg);}
    to   {-moz-transform:rotateZ(180deg);}
}
@-webkit-keyframes ani_rotate {
    from {-webkit-transform:rotateZ(0deg);}
    to   {-webkit-transform:rotateZ(180deg);}
}
@-o-keyframes ani_rotate {
    from {-o-transform:rotateZ(0deg);}
    to   {-o-transform:rotateZ(180deg);}
}
@keyframes ani_rotate {
    from {transform:rotateZ(0deg);}
    to   {transform:rotateZ(180deg);}
}

.ani_rotate {
    -moz-animation:ani_rotate 10s linear 0s infinite alternate forwards;
    -webkit-animation:ani_rotate 10s linear 0s infinite alternate forwards;
    -o-animation:ani_rotate 10s linear 0s infinite alternate forwards;
    animation:ani_rotate 10s linear 0s infinite alternate forwards;
}

div {
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

.page {
    margin:0;
    padding:0;
    width:100%;
}

input {
    border: none;
    width: 100%;
    height: 100%;
}