body { margin:0;padding:0; }

div {
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.page {
    margin:0;
    padding:0;
    width:100%;
}

.PopupBox .Content {
    width: 94% !important;
    padding: 0% 3% !important;
    padding-top: 20px !important;
    padding-bottom: 18px !important;
    font-size: 0.6rem;
}
