body { margin:0;padding:0; }

.loader { position: relative; width: 60px; height: 60px; border-radius: 50%; margin: 0px; display: inline-block; vertical-align: middle; }
.loader-star { position: absolute; top: calc(50% - 12px); }
.loader-12 { -webkit-animation: stars-rotate-reverse 2s ease infinite; animation: stars-rotate-reverse 2s ease infinite; }
.loader-12 polygon { fill: #00a9ff !important; }
.loader-12 .loader-star { position: absolute; }
.loader-12 .star1 { top: 0px; right: -7px; }
.loader-12 .star2 { right: 9px; top: -12px; position: absolute; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-animation: stars-catch 2s 0.1s ease infinite; animation: stars-catch 2s 0.1s ease infinite; }
.loader-12 .star3 { right: 27px; top: -11px; position: absolute; -webkit-transform: scale(0.7); transform: scale(0.7); -webkit-animation: stars-catch 2s 0.15s ease infinite; animation: stars-catch 2s 0.15s ease infinite; }
.loader-12 .star4 { right: 41px; top: -2px; position: absolute; -webkit-transform: scale(0.6); transform: scale(0.6); -webkit-animation: stars-catch 2s 0.2s ease infinite; animation: stars-catch 2s 0.2s ease infinite; }
.loader-12 .star5 { right: 47px; top: 10px; position: absolute; -webkit-transform: scale(0.5); transform: scale(0.5); -webkit-animation: stars-catch 2s 0.25s ease infinite; animation: stars-catch 2s 0.25s ease infinite; }
.loader-12 .star6 { right: 47px; top: 21px; position: absolute; -webkit-transform: scale(0.4); transform: scale(0.4); -webkit-animation: stars-catch 2s 0.3s ease infinite; animation: stars-catch 2s 0.3s ease infinite; }

@-webkit-keyframes stars-rotate-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes stars-rotate-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes stars-catch {
    0% {
    }
    25% {
    }
    50% {
    }
    75% {
        top: -2px;
        right: -11px;
        opacity: 0;
    }
    100% {
    }
}
@keyframes stars-catch {
    0% {
    }
    25% {
    }
    50% {
    }
    75% {
        top: -2px;
        right: -11px;
        opacity: 0;
    }
    100% {
    }
}


@-moz-keyframes shake1 {
    from {-moz-transform:scale(1, 1);}
    8%   {-moz-transform:scale(0.95, 0.95);}
    16%   {-moz-transform:scale(1, 1);}
    24%   {-moz-transform:scale(0.95, 0.95);}
    32%   {-moz-transform:scale(1, 1);}
    to   {-moz-transform:scale(1, 1);}
}
@-webkit-keyframes shake1 {
    from {-webkit-transform:scale(1, 1);}
    8%   {-webkit-transform:scale(0.95, 0.95);}
    16%   {-webkit-transform:scale(1, 1);}
    24%   {-webkit-transform:scale(0.95, 0.95);}
    32%   {-webkit-transform:scale(1, 1);}
    to   {-webkit-transform:scale(1, 1);}
}
@-o-keyframes shake1 {
    from {-o-transform:scale(1, 1);}
    8%   {-o-transform:scale(0.95, 0.95);}
    16%   {-o-transform:scale(1, 1);}
    24%   {-o-transform:scale(0.95, 0.95);}
    32%   {-o-transform:scale(1, 1);}
    to   {-o-transform:scale(1, 1);}
}
@keyframes shake1 {
    from {transform:scale(1, 1);}
    8%   {transform:scale(0.95, 0.95);}
    16%   {transform:scale(1, 1);}
    24%   {transform:scale(0.95, 0.95);}
    32%   {transform:scale(1, 1);}
    to   {transform:scale(1, 1);}
}

@-moz-keyframes shake2 {
    from {-moz-transform:rotateZ(0deg);}
    5%   {-moz-transform:rotateZ(-3deg);}
    15%   {-moz-transform:rotateZ(3deg);}
    20%   {-moz-transform:rotateZ(0deg);}
    to   {-moz-transform:rotateZ(0deg);}
}
@-webkit-keyframes shake2 {
    from {-webkit-transform:rotateZ(0deg);}
    5%   {-webkit-transform:rotateZ(-3deg);}
    15%   {-webkit-transform:rotateZ(3deg);}
    20%   {-webkit-transform:rotateZ(0deg);}
    to   {-webkit-transform:rotateZ(0deg);}
}
@-o-keyframes shake2 {
    from {-o-transform:rotateZ(0deg);}
    5%   {-o-transform:rotateZ(-3deg);}
    15%   {-o-transform:rotateZ(3deg);}
    20%   {-o-transform:rotateZ(0deg);}
    to   {-o-transform:rotateZ(0deg);}
}
@keyframes shake2 {
    from {transform:rotateZ(0deg);}
    5%   {transform:rotateZ(-3deg);}
    15%   {transform:rotateZ(3deg);}
    20%   {transform:rotateZ(0deg);}
    to   {transform:rotateZ(0deg);}
}

.ani_shake1 {
    -moz-animation:shake1 1s linear 0s infinite alternate forwards;
    -webkit-animation:shake1 1s linear 0s infinite alternate forwards;
    -o-animation:shake1 1s linear 0s infinite alternate forwards;
    animation:shake1 1s linear 0s infinite alternate forwards;
}

.ani_shake2 {
    -moz-animation:shake2 1s linear 0s infinite alternate forwards;
    -webkit-animation:shake2 1s linear 0s infinite alternate forwards;
    -o-animation:shake2 1s linear 0s infinite alternate forwards;
    animation:shake2 1s linear 0s infinite alternate forwards;
}

@keyframes shake3 {
    from {transform:rotateZ(0deg);}
    3%   {transform:rotateZ(-30deg);}
    6%   {transform:rotateZ(0deg);}
    50%   {transform:rotateZ(0deg);}
    53%   {transform:rotateZ(30deg);}
    56%   {transform:rotateZ(0deg);}
    to   {transform:rotateZ(0deg);}
}
.ani_shake3 {
    animation:shake3 3s linear 0s infinite forwards;
}

@keyframes ani_float {
    from {transform:translate(0, -10%);}
    to   {transform:translate(0, 10%);}
}

.ani_float {
    animation:ani_float 1.5s ease-in-out 0s infinite alternate forwards;
}

@-moz-keyframes ani_rotate {
    from {-moz-transform:rotateZ(0deg);}
    to   {-moz-transform:rotateZ(360deg);}
}
@-webkit-keyframes ani_rotate {
    from {-webkit-transform:rotateZ(0deg);}
    to   {-webkit-transform:rotateZ(360deg);}
}
@-o-keyframes ani_rotate {
    from {-o-transform:rotateZ(0deg);}
    to   {-o-transform:rotateZ(360deg);}
}
@keyframes ani_rotate {
    from {transform:rotateZ(0deg);}
    to   {transform:rotateZ(360deg);}
}

.ani_rotate {
    -moz-animation:ani_rotate 10s linear 0s infinite alternate forwards;
    -webkit-animation:ani_rotate 10s linear 0s infinite alternate forwards;
    -o-animation:ani_rotate 10s linear 0s infinite alternate forwards;
    animation:ani_rotate 10s linear 0s infinite alternate forwards;
}

@keyframes ani_scroll {
    from {transform:translate(0, 0%);}
    10% {transform:translate(0, 0%);}
    11% {transform:translate(0, -10%);}
    21% {transform:translate(0, -10%);}
    22% {transform:translate(0, -20%);}
    32% {transform:translate(0, -20%);}
    33% {transform:translate(0, -30%);}
    43% {transform:translate(0, -30%);}
    44% {transform:translate(0, -40%);}
    54% {transform:translate(0, -40%);}
    55% {transform:translate(0, -50%);}
    65% {transform:translate(0, -50%);}
    66% {transform:translate(0, -60%);}
    76% {transform:translate(0, -60%);}
    77% {transform:translate(0, -70%);}
    87% {transform:translate(0, -70%);}
    88% {transform:translate(0, -80%);}
    98% {transform:translate(0, -80%);}
    to {transform:translate(0, -90%);}
}

.ani_scroll {
    animation:ani_scroll 30s ease-in-out 0s infinite forwards;
}

div {
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

.page {
    margin:0;
    padding:0;
    width:100%;
}

input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 14pt;
}